[
  {
    "scope": "http://www.dneonline.com:80",
    "method": "POST",
    "path": "/calculator.asmx",
    "body": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"  xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:tns=\"http://tempuri.org/\"><soap:Body><Add xmlns=\"http://tempuri.org/\"><intA>1</intA><intB>2</intB></Add></soap:Body></soap:Envelope>",
    "status": 200,
    "response": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><AddResponse xmlns=\"http://tempuri.org/\"><AddResult>3</AddResult></AddResponse></soap:Body></soap:Envelope>",
    "rawHeaders": [
      "private, max-age=0",
      "Content-Type",
      "text/xml; charset=utf-8",
      "Microsoft-IIS/8.0",
      "2.0.50727",
      "ASP.NET",
      "X-Powered-By-Plesk",
      "PleskWin",
      "Wed, 24 Nov 2021 20:00:41 GMT",
      "close",
      "325"
    ]
  }
]
