[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 5066,
          "pages": 254,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 5576,
          "name": "JohnDoe",
          "email": "JohnDoe1637759880462@gmail.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 5891,
          "name": "Prajyot Urkude",
          "email": "h03ejjji3a@gmail.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 5901,
          "name": "Prajyot Urkude",
          "email": "q3d7evjbn7@gmail.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 5902,
          "name": "Prajyot Urkude",
     [...]
