[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 1936,
          "pages": 97,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 2063,
          "name": "prajyot",
          "email": "pu@gmail.com",
          "gender": "male",
          "status": "inactive"
        },
        {
          "id": 3100,
          "name": "NIKHIL",
          "email": "mor6w5y2mqp@gmail.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 1356,
          "name": "Chidambar Saini",
          "email": "chidambar_saini@terry.co",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 2985,
          "name": "new",
          "ema[...]
