[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 2786,
          "pages": 279,
          "page": 1,
          "limit": 10,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 2897,
          "name": "Dwaipayana Verma",
          "email": "dwaipayana_verma@keebler.co",
          "gender": "female",
          "status": "inactive"
        },
        {
          "id": 2895,
          "name": "Tanya Dhawan",
          "email": "tanya_dhawan@greenholt-kautzer.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 2893,
          "name": "Mahesh Sinha",
          "email": "mahesh_sinha@raynor-swaniawski.name",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 2892,
          "[...]
