[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 1580,
          "pages": 79,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 2686,
          "name": "TkachQA",
          "email": "fkj98j@ce.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 2687,
          "name": "Herp Derp",
          "email": "herp.derperson@derp.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 2253,
          "name": "Anil",
          "email": "anil31@ccbp.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 2266,
          "name": "Anil",
          "email": "sandeepred[...]
