[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 1687,
          "pages": 85,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 1851,
          "name": "Gordienko Katya",
          "email": "13gordienkoi@gmail.com",
          "gender": "female",
          "status": "inactive"
        },
        {
          "id": 2731,
          "name": "Tais",
          "email": "tais123@teste.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 2732,
          "name": "API Monitoring:gft0f (Updated)",
          "email": "apimonitoringgft0f@synthetic.com",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 2354,
          "name": "Su[...]
