[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 4061,
          "pages": 204,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 4133,
          "name": "Lakshminath Tagore Ret.",
          "email": "ret_lakshminath_tagore@halvorson-dietrich.com",
          "gender": "male",
          "status": "inactive"
        },
        {
          "id": 4131,
          "name": "Avantika Khatri",
          "email": "khatri_avantika@schimmel.info",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 4130,
          "name": "Vasudev Arora",
          "email": "arora_vasudev@legros-kihn.name",
          "gender": "male",
          "status": "active"
        },
        {
          "id": 4129,
          "name": "[...]
