[
  {
    "scope": "https://gorest.co.in:443",
    "method": "POST",
    "path": "/public/v1/users",
    "body": "",
    "status": 401,
    "response": {
      "meta": null,
      "data": {
        "message": "Authentication failed"
      }
    },
    "rawHeaders": [
      "nginx",
      "Tue, 23 Nov 2021 18:21:10 GMT",
      "Content-Type",
      "application/json; charset=utf-8",
      "chunked",
      "close",
      "SAMEORIGIN",
      "1; mode=block",
      "nosniff",
      "noopen",
      "none",
      "strict-origin-when-cross-origin",
      "no-cache",
      "cbb75498-c2c1-4f92-aca7-c9548cedfa24",
      "0.001738",
      "max-age=63072000; includeSubDomains"
    ]
  }
]
