[
  {
    "scope": "https://gorest.co.in:443",
    "method": "GET",
    "path": "/public/v1/users",
    "body": "",
    "status": 200,
    "response": {
      "meta": {
        "pagination": {
          "total": 2932,
          "pages": 147,
          "page": 1,
          "limit": 20,
          "links": {
            "previous": null,
            "current": "https://gorest.co.in/public/v1/users?page=1",
            "next": "https://gorest.co.in/public/v1/users?page=2"
          }
        }
      },
      "data": [
        {
          "id": 3506,
          "name": "Neha Dhandharia",
          "email": "abc.ramakrishna1639150990107@example.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 3525,
          "name": "Neha Dhandharia",
          "email": "abc.ramakrishna1639151872063@example.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 3527,
          "name": "Neha Dhandharia",
          "email": "abc.ramakrishna1639151945828@example.com",
          "gender": "female",
          "status": "active"
        },
        {
          "id": 3[...]
